/***** BASIC SETUP *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #dff1b6;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/***** Fonts ******/

@font-face {
	font-family: 'Amble-Light';
	src: url('../fonts/amble/Amble-Light.ttf');
	format: ('true-type');
}

@font-face {
	font-family: 'Amble-Regular';
	src: url('../fonts/amble/Amble-Regular.ttf');
	format: ('true-type');
}

@font-face {
	font-family: 'Amble-Italic';
	src: url('../fonts/amble/Amble-Italic.ttf');
	format:('true-type');
}

@font-face {
	font-family: 'Amble-Bold';
	src: url('../fonts/amble/Amble-Bold.ttf');
	format: ('true-type');
}

/***** REUSABLE COMPONENTS *****/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/***** HEADINGS *****/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    font-family: 'Amble-Light';
    font-weight: 100;
    margin: 0;
    color: #fff;
    font-size: 325%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Amble-Regular';
    color: #496311;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Amble-Bold';
    font-size: 85%;
    margin-bottom: 15px;
    color: #dff1b6;
    letter-spacing: 4px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #5a5858;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/***** PARAGRAPHS *****/

.long-copy-heading {
    margin: 1em 11.5em;
}

.long-copy-heading h3 {
    color: #496311;
}

.long-copy {
    line-height: 145%;
    width: 60%;
    margin-left: 20%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

p {
    font-family: Amble-Regular;
    color: #5a5858;
    font-size: 85%;
}

/***** HEADER *****/

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../img/spaghettiOpt.jpg);
    background-size: cover;
}

.main-nav-text-box {
    position: absolute;
    width: 1140px;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
}

span {
    border: 1px solid;
    padding: .5em;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    font-family: 'Amble-Regular';
    float: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {
    display: inline-block;
    margin: 0 40px;
    font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.main-nav li a:hover,
.main-nav li a:active {
   
}

/***** ABOUT *****/

.about-Cucina {
    width: 60%;
    margin: 3em 20%;
    background-color: #fff;
}

/***** GALLERY *****/

.gallery {
    height: 100vh;
    width: 80%;
    margin: 0 10%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../img/lasagnaOpt.jpg);
}


/***** MENU *****/

.menu-title {
    margin: 3em 8.5em 0;
}

.menu-title2 {
    margin: 3em 8.5em 0;
}

.menu h3 {
    font-family: Amble-Bold;
    font-size: 100%;
    margin-top: 20px;
    color: #dff1b6;
    letter-spacing: 4px;
    color: #3a3838;
    line-height: 2em;
}

.menu {
    line-height: 145%;
    width: 60%;
    margin-left: 20%;
    background-color: #fff;
    padding: 1em 4em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.menu li {
    font-family: Amble-Regular;
    font-size: 85%;
    color: #5a5858;
    list-style-type: none;
}

/***** FOOTER *****/

footer {
    background-color: #1a1f02;
    padding: 3em;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li {
    display: inline-block;
    margin-right: 1em;
}

.footer-nav li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #8a9454;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #dff1b6;
}

footer p {
    color: #535a2b;
    text-align: center;
    font-size: 90%;
    margin-top: 40px;
}

.footer li {
    padding-top: 10px;
    color: #535a2b;
}